<div class="panel">
    <div class="panel-heading">
Add Landing
    </div>
    <div class="panel-body">

        <input
                bs-form-control
                id="airportICAO"
                type="text"
                label="Airport (ICAO-Code)"
                placeholder="name of the airport (EDDF for example)"
                label-class="col-xs-3 col-sm-2 col-lg-1"
                class="col-xs-9 col-sm-10 col-lg-11"
                ng-model="airportICAO"
                />

        <input
                bs-form-control
                id="landingSpeed"
                type="text"
                label="Landing Speed"
                placeholder="landing speed (in ft/min ??)"
                label-class="col-xs-3 col-sm-2 col-lg-1"
                class="col-xs-9 col-sm-10 col-lg-11"
                ng-model="landingSpeed"
                />

    </div>
</div>