
<div class="scrollable">
    <div class="scrollable-content">

<div class="panel">
    <div class="panel-heading">
        Add Planemodel
    </div>
    <div class="panel-body">


                    <select bs-form-control
                            name="infoBox3"
                            label="Plane model"
                            ng-model="planeModel"
                            id="planemodelSelect">
                        <option ng-repeat="planemodel in planeModels">
                            {{ planemodel.manufacturer }} {{ planemodel.model }}  ({{planemodel.airline}})
                        </option>
                    </select>

                    <input
                            bs-form-control
                            id="Reg"
                            type="text"
                            label="Registration"
                            placeholder="enter registration here (for example D-AIMA)"
                            label-class="col-xs-3 col-sm-2 col-lg-1"
                            class="col-xs-9 col-sm-10 col-lg-11"
                            ng-model="registration"
                            />

                    <input
                            bs-form-control
                            id="Airline"
                            type="text"
                            label="Airline"
                            placeholder="enter the airlines name here"
                            label-class="col-xs-3 col-sm-2 col-lg-1"
                            class="col-xs-9 col-sm-10 col-lg-11"
                            ng-model="airline"
                            />

                    <a ng-click="addPlane()" class="btn btn-primary">addPlane</a>
                </div>

        </div>

    </div>
</div>