<a class="btn btn-primary" ng-click="savePlaneModels()">save planeModels</a>


<div class="scrollable">
    <div class="scrollable-content">

        <div class="panel">
            <div class="panel-heading">
                Import PlaneModels
            </div>
            <div class="panel-body">

                <a ng-click="loadPlaneModelsFromFile()" class="btn btn-primary">loadPlaneModelsFromFile</a>

                <a ng-click="initPlaneModels()" class="btn btn-primary">initPlaneModels</a>
                <a ng-click="loadPlaneModelsFromDatabase()" class="btn btn-primary">loadPlaneModelsFromDatabase</a>
            </div>
            <p><b>planeModels.length (in database) {{planeModels.length}}</b></p>
            <div class="panel-body">

                <input
                        ng-click="updateExportString1()"
                        bs-form-control
                        id="exportString1"
                        type="text"
                        label="ExportString1"
                        placeholder=""
                        label-class="col-xs-3 col-sm-2 col-lg-1"
                        class="col-xs-9 col-sm-10 col-lg-11"
                        ng-model="exportString1"
                        />

            </div>

            <div class="panel-heading">
                Import MyPlanes
            </div>
            <div class="panel-body">
            <a ng-click="saveMyPlanes()" class="btn btn-primary">save MyPlanes</a>
            <a ng-click="initMyPlanes()" class="btn btn-primary">initMyPlanes</a>
            <a ng-click="loadMyPlanesFromDatabase()" class="btn btn-primary">loadMyPlanesFromDatabase</a>

                <p><b>myPlanes.length {{myPlanes.length}}</b></p>
                <input
                        ng-click="updateExportString2()"
                        bs-form-control
                        id="exportString2"
                        type="text"
                        label="ExportString2"
                        placeholder=""
                        label-class="col-xs-3 col-sm-2 col-lg-1"
                        class="col-xs-9 col-sm-10 col-lg-11"
                        ng-model="exportString2"
                        />
            </div>

        </div>

    </div>
</div>