<div content-for="rightNavbarButton">
    <div ng-click="backButtonPressed()" class="btn btn-navbar">
        <i class="fa fa-backward"></i> back to planes
    </div>
</div>



<div class="scrollable">
    <div class="scrollable-content">
        <div class="panel">
            <div class="panel-heading">
                <b>{{ myPlane.reg }} ({{ myPlane.model }} - {{ myPlane.airline }})</b>
            </div>
            <div class="panel-heading">
                Edit plane stats:
            </div>
            <div class="panel-body">



            <input
                    bs-form-control
                    id="reg"
                    type="text"
                    label="registration"
                    placeholder="registration"
                    label-class="col-xs-3 col-sm-2 col-lg-1"
                    class="col-xs-9 col-sm-10 col-lg-11"
                    ng-model="myPlane.reg"
                    />

            <input
                    bs-form-control
                    id="airline"
                    type="text"
                    label="airline"
                    placeholder="airline"
                    label-class="col-xs-3 col-sm-2 col-lg-1"
                    class="col-xs-9 col-sm-10 col-lg-11"
                    ng-model="myPlane.airline"
                    />



</div>
            <div class="panel-heading">
                Landings
            </div>
            <div class="panel-body">
                <div ng-repeat="landing in myPlane.landings track by $index" class="list-group-item">
                    <div ng-show="landing.spd==''">
                    {{ landing.airport }}
                    </div>
                    <div ng-hide="landing.spd==''">
                        {{ landing.airport }} ({{ landing.spd }} feet/sec)
                    </div>

                </div>

                <input
                        bs-form-control
                        id="airport"
                        type="text"
                        label="airport"
                        placeholder="airport ICAO-Code (for example EDDF)"
                        label-class="col-xs-3 col-sm-2 col-lg-1"
                        class="col-xs-9 col-sm-10 col-lg-11"
                        ng-model="airport"
                        />

                <input
                        bs-form-control
                        id="landingSpeed"
                        type="text"
                        label="landingSpeed"
                        placeholder="enter the landing speed (in feet/min ??)"
                        label-class="col-xs-3 col-sm-2 col-lg-1"
                        class="col-xs-9 col-sm-10 col-lg-11"
                        ng-model="landingSpeed"
                        />

                <button ng-class="{disabled: airport.length<4 || !airport}" ng-click="addLanding()" class="btn btn-primary">add landing</button>
                <a ng-click="reset()" class="btn btn-primary">reset</a>
                <a ng-click="deleteThisPlane()" class="btn btn-danger">delete</a>
                <a ng-click="save()" class="btn btn-primary">save</a>
                </div>
            <div class="panel-heading">
                Camera Picture Upload
            </div>
            <div class="panel-body">
                <div ng-show="!camera">
                    no camera available!
                </div>

                <div ng-show="camera">

                    <a class="btn btn-primary" ng-click="startCamera()">start camera</a>
                    <a class="btn btn-warning" ng-click="stopCamera()">stop camera</a>

                    <img id="myImage">
                </div>

                <canvas id="canvas" width="200" height="200" style="border:1px solid #000000;"></canvas>
                <h2>capure image</h2><br>
                <input type="file" id="filesCapture" accept="image/*" capture><br>

                <input type="file" id="files" accept="image/*"><br>

                <div id="list"></div>


            </div>
        </div>
    </div>
</div>